#Environment variable for API Key
.env
#Any CSV or PKL files
*.csv
*.pkl
#Anaconda virtual environments
env/
venv/
.venv/

#Python cache files
__pycache__/
*.pyc

#Jupyter Notebook checkpoints
.ipynb_checkpoints/

#Log and temp files
*.log
*.tmp

#IDE project settings
.idea/
.vscode/
